#map_wrapper {
    background-color: black;
    position: relative;
    background-color: white;
    max-height: 70vh;
    overflow: scroll;
}

line {
    stroke: black;
    stroke-width: 2;
}

#map_floorplan{
    width: 1000px;
    height: auto;
}

#map_paths{
    position: absolute;
}

.pin {
    width: 24px;
    height: 24px;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    border: 1px solid rgb(255, 174, 0);
}


