@media (max-width:320px)  { 
    #navbar_map_wrapper {
        margin: 32px 0;
    }

    #map_wrapper{
        margin: 0px 0px;
        border-radius: 0px;
    }
}

@media (max-width:480px)  { 
    #navbar_map_wrapper {
        margin: 32px 0;
    }

    #map_wrapper{
        margin: 0px 0px;
        border-radius: 0px;
    }
}
