@media (max-width:480px)  { 
    #navbar_map_wrapper {
        margin: 32px 0;
    }

    #map_wrapper{
        margin: 0px 0px;
        border-radius: 0px;
    }

    #cdrlc_header {
        color: black;
        height: auto;
        background-color: white;
        background-image: none;
    }

    #left_nav_bar {
        width: 90%;
        margin: 8px auto;
    }

    #text_directions_wrapper{
        width: 90%;
        margin: 8px auto;    
    }
}
