* {
    box-sizing: border-box;
}

body {
    background-color: #18191a;
}

#floorplan_legend_container {
    display:flex;
    flex-direction: column;
    border: 4px solid green;
    width: 70%;
}

#map_legend {
    border: 4px solid purple;
    height: 20vh;
    background-color: azure;
}

#heading_container {
    border: 4px solid blue;
}

#navbar_map_wrapper {
    display: flex;
    justify-content:space-between;
    padding: 32px;
    flex-wrap: wrap;
    border: 4px solid pink;
}

#left_nav_bar {
    width: 27%;
    min-height: 50vh;
    border: 4px solid yellow;
}

h1, h2 {
    margin: 0px;
}

dd {
    margin: 0;
}

#cdrlc_header {
    font-size: xx-small;
    height: 8vh;
    padding: 10px 36px 10px;
    width: 100vw;
    border-bottom: 4px solid red;
    background-color: white; 
}

#instructions_wrapper {
    border: 4px solid lime;
    height: 16vh;
    color: white;
    margin: 10px 36px 10px;
}

#instruction_list {
    display: flex;
    gap: 16px;
    border: 1px solid white;
    justify-content: space-between;
}

.instruction_item {
    border: 2px solid orange;
}
