* {
    box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

footer {
    border-top: 1px solid #DCDCDE;
    text-align: center;
    padding: 32px;
    color: #4b4b4b;
}


#floorplan_legend_container {
    display:flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #DCDCDE;
    padding: 16px;
    flex: 3 1 0;
    overflow: scroll;
    min-width: 256px;
}

#navbar_map_wrapper {
    gap: 16px;
    display: flex;
    justify-content:space-between;
    margin: 32px 128px;
    flex-wrap: wrap;
}

#left_nav_bar {
    flex: 1 1 0;
    min-width: 256px;
}

h1, h2 {
    margin: 0px;
}

dt {
    margin-bottom: 8px;
}

dd {
    margin: 0;
    color: #4b4b4b;
}

#cdrlc_header {
    display: flex;
    font-size: small;
    font-weight: 100;
    padding: 10px 128px 10px;
    margin-bottom: 32px;
    border-bottom: 1px solid #DCDCDE;
    background-color: white; 
    justify-content: space-between;
}

#address_container {
    text-align: right;
}

.heading {
    font-weight: 400;
}

#instructions_wrapper {
    padding: 8px 16px;
    border: 1px solid #DCDCDE;
    border-radius: 12px;
    background-color: #F5F5F7;
    color: black;
    margin: 10px 128px 10px;
    min-width: 256px;
}

#instruction_list {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instruction_item {
    flex: 1 1 0;
    min-width: 256px;
}

h3 {
    font-weight: 400;
}

#map_title_wrapper {
    display: flex;
    justify-content: space-between;
    height: 48px;
}

#map_title {
    margin: 8px;
}

#map_zoom_wrapper {
    display: flex;
    flex-direction: row;
    padding: 8px 8px;
    border: 1px solid #DCDCDE;
    border-radius: 12px;
    gap: 8px;
}

#map_zoomin, #map_zoomout, #map_reset {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 0px;
    border: none;
    background-color: white;
}

#map_zoomin:hover, #map_zoomout:hover, #map_reset:hover {
    background-color: lightgray;
}

#map_zoom_number {
    height: 32px;
    margin: 0px;
    padding: 4px;
}

#map_legend_container {
    padding: 8px;
    background-color: white;
}

#map_legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.legend_icon {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-top: 6px;
}

.legend_item {
    display: flex;
    gap: 4px;
    flex-direction: row;
    font-weight: 100;
}

#classroom_legend_icon {
    background-color: red;
}

#studyroom_legend_icon {
    background-color: blue;
}

#restroom_legend_icon {
    background-color: green;
}

#entrance_legend_icon {
    background-color: orange;
}

#stairs_legend_icon {
    background-color: purple;
}

#elevator_legend_icon {
    background-color: grey;
}

.clean_box {
    border: 1px solid #DCDCDE;
    border-radius: 12px;
    background-color: white;
}

