* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px
}

main {
    padding: 0px;
}

#cdrlc_header {
    color: white;
    display: flex;
    font-size: large;
    flex-direction: column;
    font-weight: 100;
    padding: 10px 8vw 10px;
    margin: 0;
    margin-bottom: 32px;
    height: 25vh;
    justify-content: space-around;
    background-image: url("./images/CDRLC.jpg");
    background-color: #777777;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#address_container {
    font-weight: 400;
}

.heading {
    font-weight: 400;
}

#instructions_wrapper,
#studyroom_appointments_wrapper {
    padding: 8px 16px;
    background-color: #F5F5F7;
    color: black;
    margin: 10px 8vw 10px;
    min-width: 256px;
}

#instruction_list {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instruction_item {
    flex: 1 1 0;
    min-width: 256px;
}

footer {
    border-top: 1px solid #DCDCDE;
    text-align: center;
    padding: 32px;
    color: #4b4b4b;
}


#floorplan_legend_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #DCDCDE;
    padding: 16px 0px;
    flex: 3 1 0;
    overflow: scroll;
    min-width: 256px;
}

#navbar_map_wrapper {
    gap: 16px;
    display: flex;
    justify-content: space-between;
    margin: 32px 8vw;
    flex-wrap: wrap;
}

#directions_navbar_wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#text_directions_wrapper {
    padding: 16px;
}

#floor_buttons {
    margin: 0 16px;
    display: flex;
    gap: 16px;
}

.floorButton {
    color: black;
    border-radius: 16px;
    height: 32px;
    flex: 1;
    background-color: white;
    border: 1px solid #DCDCDE
}

.floorButton:hover {
    background-color: #DCDCDE;
    border: none;
}

.floorButtonSelected {
    border: none;
    background-color: #DCDCDE;
}

#left_nav_bar {
    flex: 1 1 0;
    min-width: 256px;
}

h1,
h2 {
    margin: 0px;
}


dt {
    margin-bottom: 8px;
}

dd {
    margin: 0;
}

h3 {
    font-weight: 400;
}

a:visited {
    color: rgb(100, 100, 255);
}

#map_title_wrapper {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin: 0 16px;
}

#map_title {
    margin: 8px;
}

#map_zoom_wrapper {
    display: flex;
    flex-direction: row;
    padding: 8px 8px;
    border: 1px solid #DCDCDE;
    border-radius: 12px;
    gap: 8px;
}

#map_zoomin,
#map_zoomout,
#map_reset {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 0px;
    border: none;
    background-color: white;
}

#map_zoomin:hover,
#map_zoomout:hover,
#map_reset:hover {
    background-color: lightgray;
}

#map_zoom_number {
    height: 32px;
    margin: 0px;
    padding: 4px;
}

#map_legend_container {
    padding: 8px;
    background-color: white;
    margin: 0 16px;
}

#map_legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.legend_icon {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-top: 6px;
}

.legend_item {
    display: flex;
    gap: 4px;
    flex-direction: row;
    font-weight: 100;
}

#classroom_legend_icon {
    background-color: #4CAF50;
}

#studyroom_legend_icon {
    background-color: grey;
}

#restroom_legend_icon {
    background-color: #F44336;
}

#entrance_legend_icon {
    background-color: #FF9800;
}

#stairs_legend_icon {
    background-color: #9C27B0;
}

#miscroom_legend_icon {
    background-color: rgb(2, 107, 204);
}

#elevator_legend_icon {
    background-color: #795548;
}

.clean_box {
    border: 1px solid #DCDCDE;
    border-radius: 12px;
    background-color: white;
}
